/* semantic color variables for this project */
@font-face {
  font-family: 'League Spartan';
  src: url('fonts/LeagueSpartan-Variable.ttf');
  font-style: normal;
  font-weight: 300 800;
}

:root {
  /* Background */
  --color-bg-main: hsl(222, 26%, 31%);
  --color-bg-secondary: hsl(223, 31%, 20%);
  --color-bg-screen: hsl(224, 36%, 15%);

  --color-bg-dark-blue: hsl(225, 21%, 49%);
  --color-bg-shadow-dark-blue: hsl(224, 28%, 35%);

  --color-bg-red: hsl(6, 63%, 50%);
  --color-bg-shadow-red: hsl(6, 70%, 34%);

  --color-bg-grayish-orange: hsl(30, 25%, 89%);
  --color-bg-shadow-grayish-orange: hsl(28, 16%, 65%);

  /* Text */
  --color-darkest-blue: hsl(221, 14%, 31%);
  --color-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-white);
  background: var(--color-bg-main);
  font-family: 'League Spartan', Calibri, sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
